---
import "../styles/global.css";

import CheckerBackground from "../components/CheckerBackground.astro";

export type Graph = {
    type: string;
    brief: string;
    description: string;
};

export interface Props {
    title?: string;
    graph?: Graph;
}

const { title, graph } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/favicon.ico" />
        <link rel="icon" type="image/png" sizes="48x48" href="/favicon.png" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title ?? "IsaacTCB"}</title>

        <!-- metadata -->
        <meta name="generator" content={Astro.generator} />
        {
            graph && (
                <>
                    <meta name="description" content={graph.description} />
                    <meta property="og:title" content={title ?? "IsaacTCB"} />
                    <meta property="og:type" content={graph.type} />
                    <meta property="og:description" content={graph.brief} />
                    <meta property="og:url" content={Astro.url.href} />
                </>
            )
        }
        <!-- end of metadata -->
    </head>
    <body>
        <CheckerBackground />
        <slot />
    </body>
</html>
